body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

h1 {
    color: rgb(163, 86, 163);
}

.description {
    display: grid;
    justify-items: center;
}

.projects {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.project {
    display: flex;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    justify-content: center;
}
